.swiper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
  }


  
  .card {
    width: 80%;
    height: 70%;
    padding: 20px;
    font-size: clamp(1.5em, 2.5vw, 1.5em); /* Responsive font size */
    overflow: hidden;
    font-weight: 700;
    margin: 20px;
    background-color: #f6f6f6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* Ensure pseudo-elements position correctly */
  }
  
  .card:hover {
    color: rgb(38, 16, 91);
    transition: color 1s;
  }
  
  .card:hover:before,
  .card:hover:after {
    animation: none;
    opacity: 0;
  }
  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate),
      #5ddcff,
      #3c67e3 43%,
      #4e00c2
    );
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate),
      #5ddcff,
      #3c67e3 43%,
      #4e00c2
    );
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 2.5s linear infinite;
  }
  
  /* Add media queries for extra responsiveness if needed */
  @media (max-width: 600px) {
    .card {
      width: 90%;
      padding: 2px;
      font-size: 1.2em; /* Adjusted for smaller screens */
    }
  }
  
  
  .pagination {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }